﻿<style>
  .mainbody {
    width: "100%";
    height: "100%";
    margin-top: 70px;
  }
  .ctopnav {
    border-bottom: 1px solid #f9db2f;
    z-index: 2;
  }
  .cbotnav {
    border-top: 1px solid #f9db2f;
    z-index: 2;
  }

  .navbutton {
    margin-left: 15px;
    margin-right: 15px;
  }

  .img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
</style>
<div>
  <nav class="navbar navbar-light bg-dark justify-content-center ctopnav">
    <div class="container-fluid-nav text-center " style="height: 25px">
      <img
        src="https://cdn.discordapp.com/icons/591288168477622283/18963d538440932432105e1c6874464a.webp?size=64"
        class="img"
        draggable="false"
      />
    </div>
  </nav>

  <div class="mainbody"></div>
</div>
<script src="interfaces/profileSelection/js/main.js"></script>
