﻿<style>
  .mainbody {
    width: "100%";
    height: "100%";
    margin-top: 70px;
  }
  .ctopnav {
    border-bottom: 1px solid #f9db2f;
    z-index: 2;
  }
  .cbotnav {
    border-top: 1px solid #f9db2f;
    z-index: 2;
  }

  .navbutton {
    margin-left: 15px;
    margin-right: 15px;
  }

  .img {
    position: absolute;
    margin-left: auto; 
    margin-right: auto;
    left: 0;
    right: 0;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
</style>
<div>
  <nav class="navbar navbar-light bg-dark justify-content-center ctopnav">
    <div class="container-fluid-nav text-center " style="height: 25px">
      <img
        src="https://cdn.discordapp.com/icons/591288168477622283/18963d538440932432105e1c6874464a.webp?size=64"
        class="img"
        draggable="false"
      />
    </div>
  </nav>
  <nav class="navbar fixed-bottom navbar-expand-md navbar-dark bg-dark cbotnav">
    <div
      class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link navbutton" href="#" onclick="handleMenuPlayersClick()" data-toggle="tooltip" data-placement="top" title="Players"><i class="fas fa-users fa-2x" /></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link navbutton" onclick="handleMenuInventoryClick()" href="#" data-toggle="tooltip" data-placement="top" title="Inventory"><i class="fas fa-boxes fa-2x" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbutton" onclick="handleMenuCraftingClick()" href="#" data-toggle="tooltip" data-placement="top" title="Crafting"><i class="fas fa-tools fa-2x" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbutton" onclick="handleMenuStatsClick()" href="#" data-toggle="tooltip" data-placement="top" title="Stats"><i class="fas fa-chart-bar fa-2x" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbutton" onclick="handleMenuContactsClick()" href="#" data-toggle="tooltip" data-placement="top" title="Contacts"><i class="fas fa-address-book fa-2x" /></a>
        </li>

        
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <a class="nav-link navbutton" href="#" data-toggle="tooltip" data-placement="top" title="Discord"><i class="fab fa-discord fa-2x" onmouseover="setCursor(4)" onmouseout="setCursor(1)" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbutton" href="#" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fas fa-cog fa-2x" /></a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="mainbody">

  </div>


</div>
<script src="interfaces/inventory/js/main.js"></script>
