﻿<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 150px;
    grid-template-areas:
      "a a a a b b b b"
      "a a a a b b b b"
      "c c c c c d d ."
      "c c c c c d d .";
    align-items: start;
  }
  .wrapper {
    grid-area: d;
    align-self: flex-end;
    width: 100%;
    background-color: transparent;
    color: white;
    margin: 5px;
    padding: 5px;
  }

  .ccard {
    width: 100%;
    background-color: rgba(100, 100, 100, 1);
  }
  .cchead {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
  }
  .ccbig {
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
  }
  .ccbody {
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline;
    padding: 5px;
  }

  .crow {
    margin: 10px;
  }

  .prem {
    color: #ffe100;
  }
</style>
<div class="grid">
  <div class="wrapper">
    <div class="card-body ccbig">
      <h1>Profile Creation</h1>
    </div>
    <div class="card ccard" id="card" style="border: 1px solid black">
      <form>
        <div class="row crow">
          <div class="col form-group">
            <label for="firstname">First Name</label>
            <input
              type="text"
              id="firstname"
              class="form-control"
              placeholder="First name"
            />
          </div>
          <div class="col form-group">
            <label for="lastname">Last Name</label>
            <input
              type="text"
              id="lastname"
              class="form-control"
              placeholder="Last name"
            />
          </div>
        </div>
        <div class="row crow">
          <div class="col form-group">
            <label for="dob">Date Of Birth</label>
            <input
              id="dob"
              type="date"
              class="form-control"
              placeholder="Date Of Birth"
              style="width: 97.5%"
            />
          </div>
          <div class="col form-group">
            <label for="height">Height</label>
            <input
              id="height"
              type="number"
              step="0.1"
              min="4"
              max="7"
              value="4"
              class="form-control"
              placeholder="Height"
            />
          </div>
        </div>
        <div class="row crow">
          <div class="col">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="malecheck"
                value="option1"
                onchange="onGenderChange(0)"
                
              />
              <label class="form-check-label" for="malecheck">
                Male
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="femalecheck"
                value="option2"
                onchange="onGenderChange(1)"
              />
              <label class="form-check-label" for="femalecheck">
                Female
              </label>
            </div>
          </div>
          <div class="col form-group">
            <label for="height">Model</label>
            <input
              id="model"
              type="number"
              min="1"
              max="1"
              value="1"
              class="form-control"
              placeholder="Model"
              oninput="onModelChange()"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="card-body cchead" id="action">
      <button
        type="button"
        id="cancelButton"
        class="btn btn-danger"
        onclick="onCancelClicked()"
        style="width: 49%"
      >
        Cancel
      </button>
      <button
        type="button"
        id="createButton"
        class="btn btn-primary float-right"
        onclick="onCreateClicked()"
        style="width: 49%"
      >
        Create
      </button>
    </div>
  </div>
</div>
<script src="interfaces/profileCreation/js/main.js"></script>
