﻿<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 150px;
    grid-template-areas:
      "a a a a b b b b"
      "a a a a b b b b"
      "c c c c c d d ."
      "c c c c c d d .";
    align-items: start;
  }
  .wrapper {
    grid-area: d;
    align-self: flex-end;
    width: 100%;
    background-color: transparent;
    color: white;
    margin: 5px;
    padding: 5px;
  }

  .ccard {
    width: 100%;
    background-color: rgba(100, 100, 100, 1);
  }
  .cchead {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
  }
  .ccbig {
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
  }
  .ccbody {
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline;
    padding: 5px;
  }

  .ccontainer {
    display: inline-block;
    vertical-align: middle;
  }

  .cctitle {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    line-height: 20px;
  }

  .ccfaction {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: gray;
  }
  .ccempty {
    margin: 0px;
    padding: 0px;
    font-size: 22px;
  }
  .ccbalance {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
  }

  .prem {
    color: #ffe100;
  }

  .ccab {
    right: 0;
  }
</style>
<div class="grid">
  <div class="wrapper">
    <div class="card-body ccbig">
      <h1>Profile Selection</h1>
    </div>
    <div class="card ccard" id="card" style="border: 1px solid black"></div>
    <div class="card-body cchead" id="action"></div>
  </div>
</div>
<script src="interfaces/profileSelection/js/main.js"></script>
